page-details {
  .shareBtn {
    position: absolute;
    bottom: 2%;    
  }

  .author_name {
    opacity: 0.5;
    font-family: sans-serif;
    color: rgb(63, 127, 191);
  }

  .master{
    background-color:#eceff1; 
  }

  .ups {
    background-color: #AED581;
  }

  .downs{
    background-color: #FFB74D;
  }
}
